
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>National Elections</title>
<script src="https://d3js.org/d3.v4.min.js"></script>

<style type="text/css">
.circle {
	stroke: white;
	stroke-width: 0.2px;
	/*https://stackoverflow.com/questions/5697067*/
	cursor: pointer;  /*grab; pointer; move; -webkit-grab;*/
	fill-opacity: 0.9;
}
.circle:active {
	/*Closed hand*/
	/*https://stackoverflow.com/questions/5697067*/
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}
.circle:hover {
	fill-opacity: 0.8;
}

</style>
</head>
<body>

<div id="formholder" >
<div id="select">
<select id="inds">
		<option value="county" selected="selected">County</option>
</select>
</div>

<!-- onSubmit="return handleClick()" -->
<!-- <form id="searchform" name="myform">  -->
<span id="searchform" name="myform">
        <input type="text" id="myVal" size="30" placeholder="NY, WI, Los Angeles County">
        <input id="search" name="Submit" type="button" value="Search" onclick="handleClick();">   <!--onclick="handleClick();"-->
        <input type="button" value="X" onclick="reset();" >  <!--document.myform.reset();-->
<!-- </form> -->
</span>
<form id="areaform">
		Weight:
		<input type="radio" name="area" value="vote"  checked>Vote
  		<input type="radio" name="area" value="electoral" > Electoral
  		<input type="radio" name="area" value="vpi" >VPI<br>
</form>
</div>
</body>
<script src="scatter.js"></script>
</html>
